<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="mfe1">Mfe1</a></li>
  <li><a routerLink="mfe2">Mfe2</a></li>
  <li><a routerLink="mfe3">Mfe3</a></li>
  <li><a routerLink="mfe-react">Mfe React</a></li>
  <li><a routerLink="angular14-remote">Mfe Angular 14 Remote</a></li>
</ul>
<ng-container *ngComponentOutlet="paginatorComponent$ | async"> </ng-container>
<ng-mf-wrapper
  remoteName="mfe-react"
  exposedModule="./PokemonList"
  elementName="pokemon-list-element"
></ng-mf-wrapper>
<router-outlet></router-outlet>
